{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ]
                },
                "modules": "commonjs"
            }
        ]
    ],
    "plugins": [
        "add-module-exports",
        "transform-es2015-modules-commonjs",
        "transform-object-rest-spread"
    ]
}